<%= form_for @landmark do |f| %>
	<% if @landmark.errors.any? %>
		<div id="error_explanation">
			<h2>
				<%= pluralize(@landmark.errors.count, "error") %> prohibited your landmark from being created:
			</h2>

			<ul>
				<% @landmark.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>	
			</ul>
		</div>
	<% end %>

	<div class="form-group">
		<%= f.label :name, "Name:" %>
		<%= f.text_field :name, class: "form-control" %>
	</div>

	<div class="form-group">
		<%= f.label :description, "Description: (please include cost and hours as applicable)" %>
		<%= f.text_area :description, class: "form-control" %>
	</div>

	<div class="form-group">
		<%= f.label :address, "Street Address:" %>
		<%= f.text_field :address, class: "form-control" %>
	</div>

	<div class="form-group">
		<%= f.label :image_link, "Please include a link to a photograph of this landmark:" %>
		<%= f.text_field :image_link, class: "form-control" %>
	</div>

	<div class="form-group">
		<%= f.label :more_info_link, "Please include a link with more information about this landmark:" %>
		<%= f.text_field :more_info_link, class: "form-control" %>
	</div>

	<div class="form-group">
		<%= f.label :category, "Choose a Category:" %>
		<%= f.collection_select(:category_id, Category.all, :id, :name, prompt: true, class: "form-control") %>
	</div>

	<div class="form-group">
		<%= f.label :neighborhood, "Choose a Neighborhood:" %>
		<%= f.collection_select(:neighborhood_id, Neighborhood.all, :id, :name, prompt: true, class: "form-control") %>
	</div>

	<div class="action">
		<%= f.submit %>
	</div>

<% end %>	