<h1>Local Landmarks:</h1>

<% @landmarks.each do |landmark| %>
	<h3><%= link_to landmark.name, landmark_path(landmark) %></h3>
	<%= image_tag landmark.image_link, class: "img-rounded" %>
	<ul>
		<li>Category: <%= link_to landmark.category.name, category_path(landmark.category) %></li>
		<li>Neighborhood: <%= link_to landmark.neighborhood.name, neighborhood_path(landmark.neighborhood) %></li>
		<li>Description: <%= landmark.description %> </li>	
	</ul>
<% end %>	

<% if current_user.guide_status %>
	<%= link_to "Add a New Landmark", new_landmark_path, class: "btn btn-primary" %>
<% end %>