<h1>Local Landmarks:</h1>

<%= link_to "View Categories", categories_path, id: "view-cats", class: "btn btn-primary" %> 
<button id="hide-cats" class="btn btn-primary">Hide Categories</button>

<div>
	<ul id="categories">
		
	</ul>
</div>

<% @landmarks.each do |landmark| %>
	<h3><%= link_to landmark.name, landmark_path(landmark) %></h3>
	<%= image_tag landmark.image_link, style: "width: 40%" %>
	<h4><ul>
		<li>Category: <%= link_to landmark.category.name, category_path(landmark.category) %></li>
		<li>Neighborhood: <%= link_to landmark.neighborhood.name, neighborhood_path(landmark.neighborhood) %></li>
		<li>Description: <%= landmark.description %> </li>	
	</ul></h4>
<% end %>	

<% if current_user.guide_status %>
	<%= link_to "Add a New Landmark", new_landmark_path, class: "btn btn-primary" %>
<% end %>