<h1><%= @landmark.name %></h1>

<% if current_user.guide_status %>
	<%= link_to "Edit This Landmark", edit_landmark_path(@landmark), class: "btn btn-primary" %>
<% end %>	
<br />
<br />
<%= image_tag(@landmark.image_link) %>

<p><%= @landmark.description %></p>

<br/>

<h4>Address: <%= @landmark.address %></h4>

<h4>Category: <%= link_to @landmark.category.name, category_path(@landmark.category)  %></h4>

<h4>Neighborhood: <%= link_to @landmark.neighborhood.name, category_path(@landmark.neighborhood)  %></h4>

<h4><%= link_to "Find out more", @landmark.more_info_link %></h4>

<% if !current_user.landmarks.include?(@landmark) %>
	<%= form_for @visit do |f| %>
		<%= f.hidden_field :user_id %>
		<%= f.hidden_field :landmark_id %>
		<%= f.submit "Add to Itinerary", class: "btn btn-light" %>
	<% end %>
<% end %>	
<br />

<h3>Most Recent Reviews of <%= @landmark.name %>:</h3>

<div id="landmark-reviews">
	<%= render partial: 'reviews/review_index', locals: { array: @recent_reviews } %>
</div>

<div class= "btn-group-justified">	 
	<%= link_to "Add Your Review", new_landmark_review_path(@landmark, @review), class: "btn btn-success" %>
	<%= link_to "See More Reviews", landmark_reviews_path(@landmark), id: "more-reviews", class: "btn btn-primary" %>
</div>

<div id="older-reviews"></div>	




