<h1><%= @landmark.name %></h1>

<%= image_tag(@landmark.image_link) %>

<p><%= @landmark.description %></p>

<br/>

<h4>Address: <%= @landmark.address %></h4>

<h4>Category: <%= link_to @landmark.category.name, category_path(@landmark.category)  %></h4>

<h4>Neighborhood: <%= link_to @landmark.neighborhood.name, category_path(@landmark.neighborhood)  %></h4>

<h4><%= link_to "Find out more", @landmark.more_info_link %></h4>

<% if !current_user.landmarks.include?(@landmark) %>
	<%= form_for @visit do |f| %>
		<%= f.hidden_field :user_id %>
		<%= f.hidden_field :landmark_id %>
		<%= f.submit "Add to Itinerary", class: "btn btn-light" %>
	<% end %>
<% end %>	
<br />
<% if current_user.guide_status %>
	<%= link_to "Edit This Landmark", edit_landmark_path(@landmark), class: "btn btn-primary" %>
<% end %>	

<h3>Add Your Review of <%=@landmark.name%>:</h3>

<%= form_for @review do |f| %>
	<div class="form-group">
		<%= f.hidden_field :user_id %>
		<%= f.hidden_field :landmark_id %>
		<%= f.text_area :content, class: "form-control" %>
	</div>

	<div class="action">
		<%= f.submit %>
	</div>
<% end %>	

<h3>Most Recent Reviews of <%= @landmark.name %>:</h3>

	 

<%= link_to "See More Reviews", landmark_reviews_path(@landmark) %>




