<h1>Create a New Account</h1>

<%= form_for @user do |f| %>
	<%= render partial: 'errors', locals: { model: @user, item: "account" } %>
	
	<div class="form-group">
		<%= f.label :name, "Enter a Name:" %>
		<%= f.text_field :name, class: "form-control" %>
	</div>	

	<div class="form-group">
		<%= f.label :password, "Enter a password:" %>
		<%= f.password_field :password, class: "form-control" %>
	</div>

	<div class="form-group">
		<%= f.label :password_confirmation, "Confirm Your Password:" %>
		<%= f.password_field :password_confirmation, class: "form-control" %>
	</div>

	<div class="form-group">
		<%= f.label :email, "Enter Your Email Address:" %>
		<%= f.email_field :email, class: "form-control" %>
	</div>

	<div class="form-group">
		<%= f.label :guide_status, "Check this box if you are a licensed tour guide:   " %>
		<%= f.check_box :guide_status %>
	</div>

	<div class="action">
		<%= f.submit %>
	</div>
<% end %>
