<h1>Welcome to New Orleans, <%= @user.name %>!</h1>

<h2>Your Itinerary:</h2>
<ul>
	<% @visits.each do |visit| %>
		<li><h3><%= link_to visit.landmark.name, landmark_path(visit.landmark) %> - <%= visit.landmark.category.name %> - <%= visit.landmark.neighborhood.name %></h3></li>
		<%= button_to 'Remove from Itinerary', { controller: :visits, action: :destroy, id: visit.id }, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-warning btn-xs" %>
	<% end %>	
</ul>	

<h3>Want to add more stops to your itinerary?</h3>
<%= link_to "View Landmarks", landmarks_path, class: "btn btn-primary" %>

<br />
<br />

<% unless current_user.guide_status %>
<h3><em>Do you know the city like the back of your hand? Do you roll your eyes whenever you hear someone say 'Nawlins'? Have you ever wrestled an alligator with your bare hands? If so, consider marking yourself as a tour guide. This allows you to edit and add new landmarks.</em></h3>
	<%= form_for @user do |f| %>
		<%= f.hidden_field :guide_status, value: true %>
		<%= f.submit "Mark Yourself As Tour Guide", class: "btn btn-success" %>
	<% end %>		 
<% end %> 	
