<h1>Welcome to New Orleans, <%= @user.name %>!</h1>

<h2>Your Itinerary:</h2>
<ul>
	<% @visits.each do |visit| %>
		<li><h3><%= link_to visit.landmark.name, landmark_path(visit.landmark) %> - <%= visit.landmark.neighborhood.name %></h3></li>
		<%= button_to 'Remove from Itinerary', { controller: :visits, action: :destroy, id: visit.id }, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-warning btn-xs" %>
	<% end %>	
</ul>	

<h3>Want to add more stops to your itinerary?</h3>
<%= link_to "View Landmarks", landmarks_path, class: "btn btn-primary" %>
