<h1 class="neighborhoodName"><%= @neighborhood.name %></h1>
<div class="neighborhoodImage">
	<%= image_tag(@neighborhood.image_link, class: "img-responsive") %>	
</div>
<br />
<p class="neighborhoodDescription"><%= @neighborhood.description %></p>

<% if current_user.guide_status %>
	<div class="edit-neighborhood">
		<%= link_to "Edit This Neighborhood", edit_neighborhood_path(@neighborhood), class: "btn btn-primary" %>
	</div>	
<% end %>	

<h2>Landmarks in this neighborhood:</h2>
<ul>
<div id="list-landmarks">	
<% @landmarks.each do |landmark| %>
	<li><h3><%= link_to landmark.name, landmark_path(landmark) %> - <%= landmark.category.name %></h3></li>
<% end %> 
</div>
</ul>	

	<a href="#" class="js-prev" data-id="<%=@neighborhood.id%>">Previous Neighborhood</a>
	<a href="#" class="js-next" data-id="<%=@neighborhood.id%>">Next Neighborhood</a>

