<h1 class="neighborhoodName"><%= @neighborhood.name %></h1>
<div class="neighborhoodImage">
	<%= image_tag(@neighborhood.image_link, class: "img-responsive") %>	
</div>
<br />
<p class="neighborhoodDescription"><%= @neighborhood.description %></p>

<% if current_user.guide_status %>
	<div class="edit-neighborhood">
		<%= link_to "Edit This Neighborhood", edit_neighborhood_path(@neighborhood), class: "btn btn-primary" %>
	</div>	
<% end %>	

<h2>Landmarks in this neighborhood:</h2>
<ul>
<div id="list-landmarks">	
<% @landmarks.each do |landmark| %>
	<li><h3><%= link_to landmark.name, landmark_path(landmark) %> - <%= landmark.category.name %></h3></li>
<% end %> 
</div>
</ul>	

<a href="#" class="js-next" data-id="<%=@neighborhood.id%>">Next Neighborhood</a>

<script type="text/javascript" charset="utf-8">
  $(function () {
  $(".js-next").on("click", function(e) {
    e.preventDefault();
    var nextId = parseInt($(".js-next").attr("data-id")) + 1;
    $.get("/neighborhoods/" + nextId + ".json", function(data) {
      let neighborhood = data;
      let landmarks = neighborhood["landmarks"]
      
      $('#list-landmarks').empty();
      landmarks.forEach(listLandmark);
      function listLandmark(landmark) {
        $('#list-landmarks').append(`<li><h3><a href="/landmarks/${landmark.id}">${landmark.name}</a></h3></li>`)
      }
      
      $(".neighborhoodName").text(neighborhood["name"]);
      $(".neighborhoodDescription").text(neighborhood["description"]);
      $(".neighborhoodImage img").attr("src", neighborhood["image_link"]);
      $(".edit-neighborhood a").attr("href", `/neighborhoods/${nextId}/edit`)

      // re-set the id to current on the link
      $(".js-next").attr("data-id", neighborhood["id"]);
    });
  });
});
</script>