<div id="new-review">
<%= form_for [landmark, review] do |f| %>
	<%= render partial: 'users/errors', locals: { model: review, item: "review" } %>

	<div class="form-group">
		<%= f.hidden_field :user_id %>
		<%= f.hidden_field :landmark_id %>
		<%= f.text_area :content, class: "form-control" %>
	</div>

	<div id="submit-review" class="action">
		<%= f.submit %>
	</div>
<% end %>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script type="text/javascript" charset="utf-8">
	$(function () {
		$('form').on('submit', function(e){
			e.preventDefault(); 
			let url = $(this).attr('action')
			let landmarkId = $('#review_landmark_id').val();
			let userId = $(this).find('#review_user_id').val();
			let reviewText = $(this).find('#review_content').val();
			let data = $(this).serializeArray();
			$.post(url, data).done(function(review) {
				$('#fresh-review').append(renderReview(review));
				$('#new-review-form').empty();
			})
		});

		function renderReview(review) {
			let postTime = moment(review.created_at).format('LLL')
			return `
				<h3> On <a href='/landmarks/${review.landmark.id}'>${review.landmark.name}</a>, ${review.user.name} says: </h3>
				<p>${review.content}</p>
				<h6><em>Review posted ${postTime}</em></h6>
				
		<br /> `
		}
	})			
</script>