<%= form_for [landmark, review] do |f| %>
	<div class="form-group">
		<%= f.hidden_field :user_id %>
		<%= f.hidden_field :landmark_id %>
		<%= f.text_area :content, class: "form-control" %>
	</div>

	<div class="action">
		<%= f.submit %>
	</div>
<% end %>