<% array.each do |review| %>
	<h3> On <%= link_to review.landmark.name, landmark_path(review.landmark) %>, <%= review.user.name %> says: </h3>
		<p id="review-content-<%=review.id%>"><%= review.content %></p>
		<h6><em><%= posted_at review %></em></h6>
		<% if review.user_id == current_user.id %>
			<a href="/landmarks/<%=review.landmark.id%>/reviews/<%=review.id%>/edit", data-id="<%=review.id%>", class="edit-review btn btn-default btn-xs">Edit</a>
			<%= button_to 'Delete', { controller: :reviews, action: :destroy, id: review.id }, method: :delete, data: { confirm: 'Are you sure you want to delete your review?' }, class: "btn btn-danger btn-xs" %>
		<% end %>	
		<br />
<% end %>	