<% array.each do |review| %>
	<div id="whole-review-<%=review.id%>">
	<h3> On <%= link_to review.landmark.name, landmark_path(review.landmark) %>, <%= review.user.name %> says: </h3>
		<p id="review-content-<%=review.id%>"><%= review.content %></p>
		<h6><em><%= posted_at review %></em></h6>
		<% if review.user_id == current_user.id %>
			<a href="/landmarks/<%=review.landmark.id%>/reviews/<%=review.id%>/edit", data-id="<%=review.id%>", class="edit-review btn btn-default btn-xs">Edit</a>
			<a href="/users/<%=review.user.id%>/reviews/<%=review.id%>", data-id="<%=review.id%>", class="delete-review btn btn-danger btn-xs">Delete</a>
		<% end %>	
		<br />
	</div>
<% end %>	