<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>

  <body>
  <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= image_tag("logo.png", alt: "logo", class: "span-3")%>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <% if current_user %>
              <li><%= link_to "My Trip Planner", user_path(current_user) %> </li>
              <li><%= link_to "My Reviews", user_reviews_path(current_user) %></li>
              <li><%= link_to "Recent Reviews", recent_reviews_path %></li>
              <li><%= link_to "Landmarks", landmarks_path %></li>
              <li><%= link_to "Categories", categories_path %></li>
              <li><%= link_to "Neighborhoods", neighborhoods_path %></li>
              <li><%= link_to "Log Out", sessions_path, method: 'delete' %></li>
            <% end %>  
          </ul>
        </nav>
      </div>
    </header>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>
    <div class="container">
      <%= yield %>
    </div>
    <br />
    <br />
    <br />
  </body>
</html>
